@import "./tailwind.css";
@import "./fonts.css";
@import "./typography.css";
@import "./effects.css";
@import "./components/menu-dropdown.css";

:root {
    --teal: #22b8cf;
    --blue: #2861e1;
    --purple: #6c23ff;
    --pink: #f129af;
    --orange: #f65a5b;
    --yellow: #ffbf18;
    --light: #f5f5f5;
    --dark: #1d1e1f;
    --brand: #ff8032;
}

html *,
html[data-thene="light"] * {
    --text: var(--dark);
    --background: var(--light);
}

html[data-theme="dark"] * {
    --text: var(--light);
    --background: var(--dark);
}

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f9fafb;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/*-----------------------------------------------------------------------------------
    Template Name: Rustic - React Business Template
    Version: 1.0
-----------------------------------------------------------------------------------

    INDEX
    ===================

    - default
    - header
    - hero
    - services
    - project
    - post
    - pricing tab
    - testimonial
    - footer
    - team

-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  - default
/*----------------------------------------*/

.main-menu li.dropdown-button {
    position: relative;
}

nav.offcanvas-menu.blurry,
.blurry {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dropdown-content {
    display: none !important;
    position: absolute;
    width: 280px;
    margin-left: -50%;
    padding: 16px;
    backdrop-filter: blur(32px) saturate(180%);
    -webkit-backdrop-filter: blur(32px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dropdown-button:hover .dropdown-content,
li.dropdown-button:hover .dropdown-content {
    display: block !important;
}

ul.main-menu li span {
    cursor: pointer;
}

.main-menu .dropdown-content a,
nav ul.main-menu li a,
nav ul.main-menu li span {
    white-space: nowrap;
    opacity: 0.7;
    transition: all 0.3s ease-out;
}

.dropdown-content a:hover,
nav ul li a:hover,
nav ul li span:hover {
    opacity: 1;
}

.video-bg {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.drawer-link {
    font-size: 16px;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--dark);
    opacity: 0.85;
    font-weight: 600;
    transition: opacity 300ms ease-out;
}

.drawer-link:hover {
    opacity: 1;
}

.splide.my-carousel {
    padding: 0;
}

.splide__arrow svg {
    fill: var(--brand) !important;
    opacity: 0.4;
}

.splide__pagination__page.is-active {
    background: var(--brand) !important;
}

#main #imprint p,
#main #imprint dd {
    font-size: 16px !important;
}

#main #privacy * {
    line-height: 1.7em;
}

#main #privacy p {
    font-size: 16px !important;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 2rem;
}

#main #privacy h2,
#main #privacy h3 {
    margin-top: 64px;
    margin-bottom: 16px;
}

#main #imprint dt {
    font-size: 20px !important;
}

#main p {
    font-size: 18px !important;
    line-height: 1.2em;
}

#main h1 {
    font-size: 48px !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#main h2 {
    font-size: 36px !important;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#main h3 {
    font-size: 28px !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

#main h4 {
    font-size: 24px !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

#main dt,
#main dt span {
    font-size: 24px !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

#main #contact-page dt,
#main #contact-page dt span {
    font-size: 24px !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

#main dd,
#main dd span {
    font-size: 20px !important;
}

#main #contact-page dd {
    margin-top: 0px !important;
}

#main #contact-page dd,
#main #contact-page dd span {
    font-size: 16px !important;
}

@media screen and (max-width: 600px) {
    #main p {
        font-size: 18px !important;
    }

    #main h2 {
        font-size: 26px !important;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    #main h3 {
        font-size: 22px !important;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    #main h4 {
        font-size: 17px !important;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    #main dt,
    #main dt span {
        font-size: 18px !important;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    #main #contact-page dt,
    #main #contact-page dt span {
        font-size: 18px !important;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    #main dd,
    #main dd span {
        font-size: 16px !important;
    }

    #main #contact-page dd {
        margin-top: 0px !important;
    }

    #main #contact-page dd,
    #main #contact-page dd span {
        font-size: 16px !important;
    }
}

/* Shimmering */
:-moz-selection {
    color: #fff;
    background: hsla(23, 100%, 60%, 1);
}

::selection {
    color: #fff;
    background: hsla(23, 100%, 60%, 1);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsla(23, 100%, 1%, 1);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsla(23, 100%, 10%, 1);
}

.team-shadow {
    box-shadow: 0 8px 16px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: all 0.3s ease-out;
}

.person-bio {
    font-size: 18px !important;
    line-height: 2rem !important;
}

.person-department {
    color: rgba(0, 0, 0, 0.3);
}

address {
    margin: 24px;
    margin-bottom: 64px;
    margin-left: 0;
    display: block;
    font-style: italic;
}

div#privacy h2 {
    padding-top: 64px !important;
}

#main div.benefit {
    background-color: #f9fafb;
    padding: 32px;
}

#benefits-page div.benefit > h4 {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    color: #333;
    letter-spacing: -0.05em !important;
    text-align: bottom !important;
}
#main #benefits-page  p {
    font-size: 1.1rem !important;
    color: #676767;
    line-height: 1.4em;
}
#main #benefits-page div.benefit div p {
    font-size: 1rem !important;
    color: #676767;
    line-height: 1.4em;
}

#main #benefits-page div.benefit div p a {
    font-size: 1rem !important;
    text-decoration: underline;
    color: #000000;
}

#main #benefits-page div.benefit svg path {
    fill: #FC7F33 !important;
}